<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: purple;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 40px;
}
</style>
</head>
<body>

<h1>Larry's webpage</h1>

</body>
</html>
